body
	background: url('assets/bg.jpg')
	font-family: Arial
	-webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.mobile-wrapper
	margin: auto
	width: 395px
	height: 747px
	background: #000
	border-radius: 20px

#main-container
	width: 375px
	height: 667px
	background: #FFF
	margin: 40px 10px
	float: left
	position: relative
	overflow: hidden

h1
	color: #FFF
	position: absolute
	top: 0
	left: 0

#swipe-page
	border: 0
	background: #333
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 0

	.select-nav
		position: absolute
		z-index: 1
		bottom: 0
		left: 0
		width: 100%
		height: 70px


		.trash-wrapper
			position: absolute
			width: 70px
			height: 70px
			top: 0
			left: 10px

			.btn
				left: 10px

			.dialog
				left: 0

		.plus-wrapper
			position: absolute
			width: 70px
			height: 70px
			top: 0
			right: 10px

			.btn
				right: 10px

			.dialog
				right: 0

		.dialog
			width: 30px
			height: 30px
			background: rgba(208,49,49,1)
			position: absolute
			top: -10px
			display: none
			border-radius: 50%
			color: #FFF
			text-align: center
			transition: all 0.2s linear
			transform: scale(1,1)

			&.showed
				display: table

			&.bump
				transform: scale(1.2)
				transition: all 0.2s linear

			span
				display: table-cell
				vertical-align: middle
				font-size: 0.8em

		.btn
			width: 55px
			height: 55px
			background: rgba(0,0,0,.7)
			border-radius: 50%
			cursor: pointer
			position: absolute

			img
				margin: 15px


	ul
		margin: 0
		padding: 0
		list-style-type: none
		position: absolute
		width: 100%
		height: 100%
		display: block
		overflow: hidden

		li
			display: block
			overflow: hidden
			width: 100%
			height: 100%
			position: absolute
			text-align: center
			left: 0
			top: 0

			&.loading
				background: #333
				color: #FFF
				text-align: center
				display: table

				span
					display: table-cell
					vertical-align: middle

			img.logo
				width: 100px
				height: 100px
				position: absolute
				top: 50%
				left: 50%
				margin-left: -50px
				margin-top: -50px

			img
				height: 100%
				width: auto
				clear: right
				display: block
				position: absolute
				top: 0
				left: 0

			.gra-bg
				background: #000
				position: absolute
				bottom: 0
				left: 0
				width: 100%
				display: table
				text-align: center
				height: 25%
				background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.89) 100%)
				background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.89) 100%)
				background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.89) 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e3000000',GradientType=0 )

				.info
					display: table-cell
					vertical-align: middle
					color: #FFF
					margin: 0
					padding: 5px 0
					width: 100%
					font-weight: normal
					text-align: center
					font-family: 'Roboto Slab', serif
					font-size: 1.4em

#my-nav
	width: 200px
	height: 203px
	position: absolute
	top: 10px
	right: 10px
	text-align: center

	.button
		width: 100px
		height: 50px
		position: absolute
		cursor: pointer
		border: 1px solid #FFF
		display: table
		background: #333
		color: #FFF

		&:hover
			background: #000

		span
			display: table-cell
			vertical-align: middle
			font-size: 0.8em

	.top
		left: 50px

	.bottom
		left: 50px
		bottom: 0

	.left
		width: 100px
		height: 100px
		left: 0
		top: 50px

	.right
		width: 100px
		height: 100px
		right: 0
		top: 50px



#trash-page
	width: 100%
	height: 100%
	position: absolute
	background: #333
	top: 0
	z-index: 1
	left: -1000px
	transition: all 0.2s linear
	overflow: auto

	&.showed
		left: 0
		transition: all 0.3s linear

	h3
		margin: 70px 10px 10px 10px
		padding: 0
		color: #FFF
		font-family: 'Roboto Slab', serif

	ul
		margin: 0
		padding: 0
		list-style-type: none

		li
			display: block
			width: 100%
			float: left
			height: 100px
			padding: 5px 0
			border-bottom: 1px dotted #DADADA

			.thumb
				width: 25%
				height: 100px
				overflow: hidden
				position: relative
				float: left

				img
					width: 100%
					height: auto
					position: absolute
					left: 0
					top: 0

			.info
				width: 50%
				float: left
				font-family: 'Roboto Slab', serif
				color: #FFF

				.info-content
					margin: 5px

					.price-tag
						font-size: 1.6em

			.add-to-cart
				width: 25%
				background: rgba(208,49,49,1)
				float: left
				color: #FFF
				height: 100px
				text-align: center
				font-family: 'Roboto Slab', serif
				font-weight: 100
				cursor: pointer

				&:hover
					background: rgba(208,49,49,0.8)

				.small
					display: block
					width: 100%
					margin-top: 35px

				.big
					display: block
					width: 100%




.menu
	background: rgba(0,0,0,0.8)
	position: absolute
	left: 0
	top: 0
	z-index: 3
	color: #FFF
	width: 100%
	height: 50px

	.logo
		float: left
		width: 100px
		height: 50px
		display: table
		text-align: center

		span
			font-size: 1.4em
			font-family: 'Roboto Slab', serif
			display: table-cell
			vertical-align: middle


	#menu-button
		height: 50px
		background: none
		float: right
		color: #FFF
		font-size: 1.4em
		font-family: 'Roboto Slab', serif
		width: 100px
		border: none
		cursor: pointer
		outline: none


	.menu-icon
		width: 50px
		height: 42px
		background: rgba(255,255,255,0.2)
		text-align: center
		padding-top: 8px
		cursor: pointer
		float: left

		span
			display: block
			width: 30px
			background: #FFF
			height: 5px
			margin: 5px 0 0 10px
			float: left
