$maincolor: #FF9900
$mainfont: 'Roboto Slab', serif

#menu
  position: absolute
  top: 0
  background: #000
  left: 0
  width: 100%
  height: 50px
  z-index: 1


  .home-btn
    height: 50px
    width: 50px
    text-align: center
    background: #333
    float: left

    i
      color: #FFF
      font-size: 1.6em
      margin-top: 12px

  .shopping-basket
    height: 50px
    width: 70px
    text-align: center
    background: #333
    float: right

    i
      color: #FFF
      font-size: 1.6em
      margin-top: 10px


  .favorite-list
    height: 50px
    width: 70px
    margin-right: 1px
    text-align: center
    background: #333
    float: right

    i
      color: #FFF
      font-size: 1.6em
      margin-top: 12px
