$maincolor: #FF9900
$mainfont: 'Roboto Slab', serif

#swipe-page
	border: 0
	background: #333
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 0

	ul
		display: block
		margin: 0
		padding: 0
		list-style-type: none
		width: 100%
		height: 100%

		li
			display: block
			width: 100%
			height: 100%
			position: absolute
			overflow: hidden
			top: 0
			left: 0

			img
				width: auto
				height: 100%
				position: absolute

			.title
				position: absolute
				width: 100%
				background: $maincolor
				bottom: -150px
				transition: bottom 0.4s linear

				&.up
					bottom: 0
					transition: bottom 0.4s linear

				h3
					color: #000
					margin: 10px
					font-weight: normal
					font-family: $mainfont
					text-align: left

				h4
					margin: 10px
					color: #000
					font-family: $mainfont

				.add-to-cart-btn
					position: absolute
					top: -45px
					right: 20px
					width: 50px
					height: 50px
					background: #000
					border-radius: 50%
					border: 1px solid #000
					text-align: center

					i
						color: #FFF
						font-size: 1.6em
						margin-top: 12px

				.add-to-favorite-btn
					position: absolute
					top: -45px
					right: 75px
					width: 50px
					height: 50px
					background: #000
					border-radius: 50%
					border: 1px solid #000
					text-align: center

					i
						color: #FFF
						font-size: 1.6em
						margin-top: 12px
